body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #00a2ff;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

h1, h2 {
    color: #333;
}

.n_stand{
    color: #333;
}

.img1 {
    
}

.list{
    display: flex;
    
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

/* Estilos para pantallas más pequeñas (máximo 600px) */
@media screen and (max-width: 600px) {
    main {
        padding: 1rem;
    }
}
